:root{
    --color-bg: #0a0a0a;
    --color-header: #0a0a0a;
    --color-sidebar: #230290;
    --color-text: #ffffff;
    --color-task-bg: #111;
    --color-Alta: #ff0044;
    --color-Media: #ffaa00;
    --color-Baja: #00ff99;

    --font-main: "Arial", sans-serif;
    --spacing: 16px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: var(--font-main);
}

body{
    background-color: var(--color-bg);
    min-height: 100vh;
    color: var(--color-text);
}

header {
    width: 100%;
    padding: 24px 0;
    background-color:var(--color-header);
    text-align: center;
    box-shadow: 0 6px 25px rgba(0,0,0,0.25);
    position: sticky; 
    top: 0;
    z-index: 100;
}

header h1 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(90deg, #ff7a18, #af002d, #319197);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

header h1:hover {
    text-shadow: 3px 3px 12px rgba(0,0,0,0.5);
}

.container{
    display: flex;
    min-height: calc(100vh-80px);
    padding-top:var(--spacing);
    gap: 20px;
}

.sidebar{
    width: 240px;
    background-color: var(--color-sidebar);
    color: #ffffff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 0 10px #ff00ff, 0 0 15px #00ffff;
    transition: all 0.4s ease;
    height: 290px;
    position: sticky;
    top: 80px;
    overflow-y: auto;
}

.sidebar h2{
    margin-bottom: 30px;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar li{
    margin-top: 18px;
    padding: 14px 20px;
    border-radius: 14px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
    background: rgba(255,255,255,0.05);
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.3), inset -2px -2px 4px rgba(255,255,255,0.1);
}

.sidebar li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    border-radius: 12px 0 0 12px;
    background: transparent;
    transition: all 0.3s ease;
}

.sidebar li:hover{
    background-color: rgba(255, 255, 255, 0.215);
    transform: translateX(5px);
}

.sidebar li:hover::before{
    background: #00ffff;
    transition: all 0.3s ease ;
}

main{
    flex:1;
    padding: 32px;
}

.task-list{
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    cursor: pointer;
}

.task{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-task-bg);
    padding: var(--spacing);
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid #00ffff;
    box-shadow: 0 0 10px #ff00ff, 0 0 15px #00ffff;
    transition: all 0.3s ease;
}

.priority.Alta {
    background-color:var(--color-Alta); 
    color: #ffffff;
    box-shadow: 0 2px 10px #eb1d1daa;
}

.priority.Media {
    background-color: var(--color-Media); 
    color: #ffffff;
    box-shadow: 0 2px 10px #ffaa00aa;
}

.priority.Baja{
    background-color: var(--color-Baja); 
    color: #ffffff;
    box-shadow: 0 2px 10px #06a973aa;
}

.task:hover{
    transform: translateY(-6px);
    box-shadow: 0 0 20px #ff00ff, 0 0 25px #00ffff;
}

.task-info h3{
    font-size: 1.3rem;
    color: #fff;
}

.delete-btn{
    background: none;
    border: none;
    color: #ff4d4d;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-btn:hover{
    transform: scale(1.2);
}

.priority{
    padding: 8px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 5px #fff;
    transition: all 0.3s ease;
}

.priority:hover{
    transform: scale(1.1);
}

.task-creator{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    width: 100%;
    padding: 12px 16px;
    border: 2px solid #230290;
    border-radius: 30px;
}

.task-creator form{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}

#task-input, #priority-select {
    flex: 1;
    padding: 12px 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #0ff inset, 0 0 5px #ff00ff inset;
    transition: all 0.3s ease;
}
button[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #0ff, 0 0 40px #ff00ff inset;
}

.search-input{
  width: 100%;
  padding: 12px 16px;
  margin-top: 16px;
  border-radius: 20px;
  border: 2px solid #ff00ff;
  background: rgba(0,0,0,0.2);
  color: #fff;
  outline: none;
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.search-input::placeholder{
  color: #bbb;
}

.search-input:focus{
  border-color: #00ffff;
  box-shadow: 0 0 15px #ff00ff, 0 0 25px #00ffff;
}

.task-creator button{
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(45deg, #ff00ff, #00ffff);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #ff00ff, 0 0 15px #00ffff;
  transition: all 0.3s ease;
}

.task-creator button:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff00ff, 0 0 30px #00ffff;
}

@media (max-width: 768px) {
    body{
        flex-direction: column;
    }    

    .sidebar{
        width: 100%;
        text-align: center;
        box-shadow: none;
    }

    .task{
        flex-direction: column;
        align-items: flex-start;
    }

    .task span.priority{
        margin-top: 8px;
    }
}